* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header Sectin start */

.logo {
  font-family: 'Alex Brush', cursive;
  font-size: 24px;
  font-weight: bold;
}

.header-container {
  position: fixed;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid black;
}

.header-inner {
  width: 85%;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container {
  position: relative;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navbar li {
  list-style-type: none;
  text-transform: capitalize;
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 500;
  cursor: pointer;
}

.header-icon {
  display: none;
}

.close-icon {
  display: none;
}

/* Header Sectin end */

/* Abour Section start */

.about-container {
  width: 100%;
  height: 60vh;
}

.about-inner {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}

.about-img img {
  width: 80%;
}
.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Abour Section end */

/* Skills section start */
.skill-container {
  width: 100%;
}

.skill-inner {
  width: 85%;
  margin: 0 auto;
}

.bootstrap {
  width: 50px;
}
/* Skills section end */

@media only screen and (max-width: 600px) {
  /* Header Section Start */
  .navbar {
    display: none;
  }

  .header-icon {
    display: contents;
  }

  .active-icon {
    display: none;
  }

  .active {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 200px;
  }
  .active li {
    list-style-type: none;
    text-transform: capitalize;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 600;
    cursor: pointer;
  }

  .active-close {
    position: absolute;
    display: contents;
    top: -300px;
  }

  /* Header Section end */

  /* Abour Section start */

  .about-container {
    width: 100%;
    height: 10vh;
  }

  .about-inner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }
  /* Abour Section end */

  /* Skills Section Start */
  .bootstrap svg {
    width: 50px;
  }
  /* Skills Section end */
}
