* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header Sectin start */

.logo {
  font-family: 'Alex Brush', cursive;
  font-size: 24px;
  font-weight: bold;
}

.header-container {
  position: fixed;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid black;
  background: #fff;
}

.header-inner {
  width: 85%;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-container {
  position: relative;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.icon-navbar {
  display: none;
}

.navbar li {
  list-style-type: none;
  text-transform: capitalize;
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 500;
  cursor: pointer;
}

.header-icon {
  display: none;
}

.close-icon {
  display: none;
}

/* Header Sectin end */

/* header icons start */

/* header icons end */

/* Abour Section start */

.about-container {
  width: 100%;
  height: 570px;
}

.about-inner {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}

.about-img img {
  width: 80%;
}
.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans Mono', monospace;
  font-weight: 600;
  font-size: 18px;
  gap: 10px;
  width: 550px;
  height: 100px;
  margin: auto;
}

.contact-icons {
  display: flex;
  gap: 14px;
  margin-top: 20px;
}

.icon svg {
  width: 30px;
}

/* Abour Section end */

/* Skills section start */
.skill-container {
  width: 100%;
  margin-top: 50px;
}

.skill-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans Mono', monospace;
  text-transform: capitalize;
}

.skill-inner {
  width: 85%;
  margin: 0 auto;
}

.skill-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 30px auto;
}

.container-first {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container-second {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.skill-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill-logo svg {
  width: 70px;
  height: auto;
}

/* Skills section end */

/* Education section start */
.education-container {
  width: 100%;
}

.education-inner {
  width: 85%;
  margin: 0 auto;
}

.education-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-header h2 {
  text-transform: capitalize;
  font-family: 'Noto Sans Mono', monospace;
}

/* Education section end */

@media only screen and (max-width: 600px) {
  /* Header Section Start */
  .navbar {
    display: none;
  }

  .header-icon {
    display: contents;
  }

  .active-icon {
    display: none;
  }

  .active {
    display: none;
  }

  .icon-active {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 200px;
  }
  .icon-active li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    text-transform: capitalize;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 600;
    cursor: pointer;
    /* background: rgb(187, 179, 179); */
    width: 20px;
  }

  .active-close {
    width: 10px;
    height: 10px;
    position: relative;
    display: contents;
    margin-top: 10px;
  }

  .active-close svg {
    position: absolute;
    width: 25px;
    /* background: red; */
    margin-top: -155px;
    margin-left: 14px;
  }

  /* Header Section end */

  /* Abour Section start */

  .about-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-inner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
  }
  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
  }

  /* Abour Section end */

  /* Skills Section Start */

  .skill-container {
    width: 100%;
    margin-top: 50px;
  }

  .skill-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 200px;
    margin: 30px auto;
  }
  .skill-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skill-logo svg {
    width: 50px;
    height: auto;
  }

  .container-first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .container-second {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  /* Skills Section end */
}
