* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid black;
}

.header-inner {
  width: 80%;
  margin: 0 auto;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.navbar ul li {
  list-style-type: none;
  text-transform: capitalize;
}
